In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
mae = pd.read_excel("mae.xls", sheet_name="Escuelas Activas")
mae.head()

,jurisdiccion,cue_anexo,nombre_establecimiento,sector,ambito,domicilio,cp,codigo_area,telefono,codigo_localidad,localidad,departamento,mail,ed_comun,ed_epecial,ed_adultos,ed_artistica
0,Buenos Aires,60000100,JARDÍN DE INFANTES Nº915 JAVIER VILLAFAÑE,Estatal,Urbano,TIRO FEDERAL 712,7300,02281,426487,6049005,AZUL,AZUL,jardin905azul@gmail.com; ji007915@abc.gov.ar,X,NaN,NaN,NaN
1,Buenos Aires,60000200,ESCUELA DE EDUCACIÓN PRIMARIA Nº2 DOMINGO FAUS...,Estatal,Urbano,COLON Y MITRE 498 epnrozazul@yahoo.com.ar,7300,02281,42-3361,6049005,AZUL,AZUL,epnro2azul@yahoo.com.ar; pp007002@abc.gov.ar,X,NaN,NaN,NaN
2,Buenos Aires,60000300,INSTITUTO PEDRO B. PALACIOS,Privado,Urbano,VICTOR MARTINEZ Y OSVALDO SOSA 1946,1757,011,4457-0054,6427006,GREGORIO DE LAFERRERE,LA MATANZA,info@ipbp.com.ar; dpp0691219@abc.gov.ar,X,NaN,NaN,NaN
3,Buenos Aires,60000400,INSTITUTO JUANA DE IBARBOUROU,Privado,Urbano,AV. ROJO 4415,1757,011,4626-1051,6427006,GREGORIO DE LAFERRERE,LA MATANZA,jdeibarbourou@yahoo.com.ar; dpp0692351@abc.gov.ar,X,NaN,NaN,NaN
4,Buenos Aires,60000600,ESCUELA DE TEATRO DE MORON,Estatal,Urbano,SAN MARTIN 620,1708,011,4629-3097,6568004,MORON,MORON,secre_etm@yahoo.com.ar; oat1000001@abc.gov.ar,X,NaN,NaN,X

In [8]:
mae['sector'].value_counts()

Estatal               50550
Privado               12080
Social/cooperativa      616
Name: sector, dtype: int64

In [9]:
mae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63246 entries, 0 to 63245
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   jurisdiccion            63246 non-null  object
 1   cue_anexo               63246 non-null  int64
 2   nombre_establecimiento  63246 non-null  object
 3   sector                  63246 non-null  object
 4   ambito                  63243 non-null  object
 5   domicilio               63246 non-null  object
 6   cp                      59277 non-null  object
 7   codigo_area             53145 non-null  object
 8   telefono                55341 non-null  object
 9   codigo_localidad        63246 non-null  int64
 10  localidad               63246 non-null  object
 11  departamento            63246 non-null  object
 12  mail                    48878 non-null  object
 13  ed_comun                49897 non-null  object
 14  ed_epecial              1919 non-null   object
 15  ed_adultos              10778 non-null  object
 16  ed_artistica            515 non-null    object
dtypes: int64(2), object(15)
memory usage: 8.2+ MB

In [10]:
mae['cue_anexo'] = mae['cue_anexo'].astype('string')
mae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63246 entries, 0 to 63245
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   jurisdiccion            63246 non-null  object
 1   cue_anexo               63246 non-null  string
 2   nombre_establecimiento  63246 non-null  object
 3   sector                  63246 non-null  object
 4   ambito                  63243 non-null  object
 5   domicilio               63246 non-null  object
 6   cp                      59277 non-null  object
 7   codigo_area             53145 non-null  object
 8   telefono                55341 non-null  object
 9   codigo_localidad        63246 non-null  int64
 10  localidad               63246 non-null  object
 11  departamento            63246 non-null  object
 12  mail                    48878 non-null  object
 13  ed_comun                49897 non-null  object
 14  ed_epecial              1919 non-null   object
 15  ed_adultos              10778 non-null  object
 16  ed_artistica            515 non-null    object
dtypes: int64(1), object(15), string(1)
memory usage: 8.2+ MB

In [11]:
mae_errors = mae.copy()

In [12]:
mae_errors.shape

(63246, 17)

In [13]:
mae_errors = mae_errors[mae_errors.cue_anexo.str.len() < 9]
mae_errors.head()

,jurisdiccion,cue_anexo,nombre_establecimiento,sector,ambito,domicilio,cp,codigo_area,telefono,codigo_localidad,localidad,departamento,mail,ed_comun,ed_epecial,ed_adultos,ed_artistica
0,Buenos Aires,60000100,JARDÍN DE INFANTES Nº915 JAVIER VILLAFAÑE,Estatal,Urbano,TIRO FEDERAL 712,7300,02281,426487,6049005,AZUL,AZUL,jardin905azul@gmail.com; ji007915@abc.gov.ar,X,NaN,NaN,NaN
1,Buenos Aires,60000200,ESCUELA DE EDUCACIÓN PRIMARIA Nº2 DOMINGO FAUS...,Estatal,Urbano,COLON Y MITRE 498 epnrozazul@yahoo.com.ar,7300,02281,42-3361,6049005,AZUL,AZUL,epnro2azul@yahoo.com.ar; pp007002@abc.gov.ar,X,NaN,NaN,NaN
2,Buenos Aires,60000300,INSTITUTO PEDRO B. PALACIOS,Privado,Urbano,VICTOR MARTINEZ Y OSVALDO SOSA 1946,1757,011,4457-0054,6427006,GREGORIO DE LAFERRERE,LA MATANZA,info@ipbp.com.ar; dpp0691219@abc.gov.ar,X,NaN,NaN,NaN
3,Buenos Aires,60000400,INSTITUTO JUANA DE IBARBOUROU,Privado,Urbano,AV. ROJO 4415,1757,011,4626-1051,6427006,GREGORIO DE LAFERRERE,LA MATANZA,jdeibarbourou@yahoo.com.ar; dpp0692351@abc.gov.ar,X,NaN,NaN,NaN
4,Buenos Aires,60000600,ESCUELA DE TEATRO DE MORON,Estatal,Urbano,SAN MARTIN 620,1708,011,4629-3097,6568004,MORON,MORON,secre_etm@yahoo.com.ar; oat1000001@abc.gov.ar,X,NaN,NaN,X

In [14]:
mae_errors.shape

(22364, 17)

### Cargar la información de alumnos a una base de datos, y realizar el cruce con establecimientos

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://postgres:1324pg@127.0.0.1/mod3')
conn = engine.connect()

In [17]:
result = conn.execute('select * from alumnos')
alumnos = pd.DataFrame(result.fetchall())

In [18]:
alumnos.head()

   0                                                  1          2  3
0  0  Dianemarie MADLER                             ...  220000100  F
1  1  Donnie EARL                                   ...  220000100  F
2  2  Olenka FLINTROY                               ...  220000100  M
3  3  Virginie BAUGHN                               ...  220000100  F
4  4  Antonetta VANDAM                              ...  220000100  F

In [19]:
alumnos.columns = result.keys()
alumnos.head()

   id                                             alumno   cuenaexo sexo
0   0  Dianemarie MADLER                             ...  220000100    F
1   1  Donnie EARL                                   ...  220000100    F
2   2  Olenka FLINTROY                               ...  220000100    M
3   3  Virginie BAUGHN                               ...  220000100    F
4   4  Antonetta VANDAM                              ...  220000100    F

In [21]:
mae_chaco = mae[mae.jurisdiccion == 'Chaco']
mae_chaco.head()

,jurisdiccion,cue_anexo,nombre_establecimiento,sector,ambito,domicilio,cp,codigo_area,telefono,codigo_localidad,localidad,departamento,mail,ed_comun,ed_epecial,ed_adultos,ed_artistica
20627,Chaco,220000100,JARDIN DE INFANTES Nº 84 ALAS DE LIBERTAD,Estatal,Urbano,JULIO TORT 1400 NAZARENO,H3500,0362 4,409680,22140034,RESISTENCIA,SAN FERNANDO,jardinmaternal84@hotmail.com,X,NaN,NaN,NaN
20628,Chaco,220000101,JARDIN DE INFANTES Nº 84 ALAS DE LIBERTAD,Estatal,Urbano,AV. EDISON 1060 VILLA LIBERTAD Func. CIFF Nº 15,H3500,NaN,NaN,22140034,RESISTENCIA,SAN FERNANDO,jardinmaternal84@hotmail.com,X,NaN,NaN,NaN
20629,Chaco,220000200,E.E.P. Nº 50,Estatal,Urbano,REPUBLICA DOMINICANA 1200 VILLA DON ANDRES Ent...,H3500,0362,177085,22140034,RESISTENCIA,SAN FERNANDO,eep50chaco@hotmail.com,X,NaN,NaN,NaN
20630,Chaco,220000300,JARDIN DE INFANTES Nº 45 MAESTRA SARA MARINO,Estatal,Urbano,ARBO Y BLANCO 1245 VILLA CENTENARIO VILLA CENT...,H3500,0362,440923,22140034,RESISTENCIA,SAN FERNANDO,jininn45@yanhoo.com.ar,X,NaN,NaN,NaN
20631,Chaco,220000400,U.E.G.P. Nº1(U.E.P. Nº1)INSTITUTO EDUCATIVO PR...,Privado,Urbano,ARTURO ILLIA 1599,H3500,03624,435784,22140034,RESISTENCIA,SAN FERNANDO,inedpri1@arnetbiz.com.ar,X,NaN,NaN,NaN

In [22]:
alumnos = alumnos.rename(columns={'cuenaexo':'cue_anexo'})
alumnos.columns

Index(['id', 'alumno', 'cue_anexo', 'sexo'], dtype='object')

In [23]:
alumnos_con_establecimientos = pd.merge(alumnos, mae)
alumnos_con_establecimientos.shape

(0, 20)

In [24]:
alumnos['cue_anexo'] = alumnos['cue_anexo'].astype('string')
alumnos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111730 entries, 0 to 111729
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         111730 non-null  int64
 1   alumno     111730 non-null  object
 2   cue_anexo  111730 non-null  string
 3   sexo       111730 non-null  object
dtypes: int64(1), object(2), string(1)
memory usage: 3.4+ MB

In [25]:
alumnos_con_establecimientos = pd.merge(alumnos, mae)
alumnos_con_establecimientos.shape

(111730, 20)

In [26]:
alumnos_con_establecimientos.to_csv('alumnos_con_establecimientos.csv')